<header>
  <nav class="navbar">
    <div class="container-fluid">
      <%= link_to "HOME", root_path %>

      <% if user_signed_in? %>
        <div class="dropdown">
          <span class="nav-item">
            <%= current_user.name %>
          </span>

          <ul class="dropdown-menu DropdownMenu">
            <li class="Dropdown-Menu_item">
              <%= link_to "スタイルの投稿", new_style_path %>
            </li>

            <hr class="DropdownMenu_hr">

            <li class="Dropdown-Menu_item">
              <%= link_to "キープしてるスタイル", root_path %>
            </li>

            <li class="Dropdown-Menu_item">
              <%= link_to "自分で投稿したスタイル", root_path %>
            </li>

            <li class="Dropdown-Menu_item">
              <%= link_to "アカウント設定", root_path %>
            </li>

            <hr class="DropdownMenu_hr">

            <li class="Dropdown-Menu_item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item NavItem">
            <%= link_to "ログイン", new_user_session_path %>
          </li>

          <li class="nav-item NavItem">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>
