<div class="container">
  <h2>スタイル一覧</h2>
  <ul class="list-group list-group-horizontal">
    <% @styles.each do |style| %>
      <li class="list-group-item">
        <div class="card" style="width: 18rem;">
          <%= image_tag style_image(style), alt: "スタイル画像", class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">
              <%= style.name %>
            </h5>
            <p class="card-text">
              <%= style.menu %>
            </p>
            <p class="card-text">
              <%= style.detail %>
            </p>
            <p class="card-text">
              <%= style.deta %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
