<div class="container">
  <h1>投稿済み一覧</h1>
  
  <% @styles.each do |style| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= link_to image_tag(style_image(style), alt: "スタイル画像", class: "img-fluid rounded-start"), style_path(style) %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= style.name %></h5>
            <p class="card-text">
              <%= style.menu %>
            </p>
            <p class="card-text">
              <%= style.detail %>
            </p>
            <p class="card-text">
              <%= style.deta %>
            </p>
            <button type="button" class="btn btn-outline-info">
              <%= link_to "編集", edit_style_path(style), class: "text-decoration-none" %>
            </button>
            <%= button_to "削除", style_path(style), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
